<div class="container">


  <div align="center">

    <input type="text" #search (keypress)="onSearch(search.value)">
    <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>

  </div>
  <hr>

  <div class="d-flex justify-content-center" *ngIf="isLoading" >
    <div class="spinner-grow text-light" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    <div class="spinner-grow text-light" style="width: 10rem; height: 10rem;" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4" *ngFor="let m of movies">
      <a class="card bg-dark" routerLink="/movie/{{ m.imdbID }}">
        <img src="{{m.Poster}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ m.Title | slice: 0 : 30 }}...</h5>
        </div>
      </a>
    </div>
  </div>
</div>